@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    --accent-color: rgb(50, 206, 211);
    --text-color: rgb(58, 13, 13);
}






