.header__nav {
    background-color: var(--accent-color);
    padding: 10px;
}

.header__banner-h1,
.header__nav-logo {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.header__nav-menu-item {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
}

.header__nav-menu-item:hover {
    font-weight: bold;
}

.header__banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.header__banner-h1 {
    color: var(--accent-color);
}
